@import '../../src/styles/_vars.scss';
@import '../../src/styles/_tools.scss';

.mast {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 100vh;
  padding: var(--space-400) 0;
  background-color: var(--color-background);
  color: var(--color-text-light);

  @media (min-width: $mq-md) {
    height: 100vh;
    max-height: 100vh;
    padding: var(--space-600) 0;
  }

  &__pretitle {
    display: block;
    font-weight: 600;
    font-size: var(--font-size-md);
    margin-bottom: var(--space-100);
    color: var(--color-accent-3);
  }

  &__title {
    line-height: 1.25;
    @include font-sizer(var(--font-size-xl-2), $md: var(--font-size-xl-4));
  }

  &__eyes {
    width: 5em;
    opacity: 0;
    transition: opacity 1s ease;

    &.is-active {
      opacity: 1;
    }
  }
}
